&reg{
font-size: smaller;
}

h1{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
/* font-family:'Montserrat-semi bold',sans-serif; */
font-size: 50px;
text-align: center;
color:white;
margin:0px;
border:0 px;
padding:0px;
font-weight: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgba(230, 0, 0, 0.61);
}

li {
    text-align: center;
    display: inline-block;
}

li a {
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 20px;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 100px;
}

li a:hover {
    COLOR: rgb(0, 0, 153);
}

.wrapper{
background-color: #000099;
margin:0px auto;
width:100%;
z-index: 4;
position:fixed;
}

.dropdown-content{ /*since 1990 dropdown when i go to the top of the page*/
display:none;
position:inline-block;
background-color: rgb(255, 255, 255);
min-width: 10px;
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
padding: 0.2px 0.2px;
text-align: center;
z-index: 1;
}

.wrapper:hover .dropdown-content{
    display:block;
}

body{
margin:0px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form{
    background-color:#ffff00;
    padding-top: 1px;
    padding-bottom: 1px;
    top:5.38vw;
    z-index:2;
    position:fixed;
    width:100%;
    display:inline-flex;
}
.menubar{
    background-color:white;
    padding:0px;
    align-items: baseline;
    display:inline-flex;
    border-radius:3px;
    border: 1px solid #000099;
    margin:0 1px 0 1px;
    height: 21px;
    /*outline:thin groove;*/
}

#radio{ /*This class stands for the drop down menu*/
    float:left;
    cursor: pointer;
    width:40px;
    height:21px;
    border-radius: 0px;
    outline:none;
    border: 0px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    background-color: #f0eeee;
}

#inputfield{
    border:0px;
    border-radius: 0px;
    outline: none;
    height:12px;
    width:12vw;
}


/*.form-group{ /*This class stands for the search bar and the button
    float:right;
    align-items: baseline;
} */

#button{
    margin-top:0px;
    padding:0px;
    border: 0px;
    background-image:url('pictures\icons8-search-50(5).png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: 0 0;
    height: 21px;
    width: 21px;
    cursor: pointer;
    float:right;
}

#button:hover{
    filter:brightness(80%)
}

.customer-side{
    
   
    padding-left:2px;
}


.login-icon{
background-image: url('pictures/person_FILL0_wght400_GRAD0_opsz24.png');
width:29px;
height:23px;
background-color: grey;
} 


@media screen and(min-width:412px) {
    .wrapper{
        width:100%;
        } 

    .form{
        background-color:yellow;
        position: relative;
        }    
    #inputfield{
            width:180px;
        }    
}
